/src/BannerWebApp/bin/Debug/netcoreapp2.0
/src/BannerWebApp/obj
/src/.vs/Banner/v15/Server/sqlite3
/src/.vs/Banner/v15
/src/.vs/Banner/DesignTimeBuild
/src/MongoDbProvider/bin/Debug/netcoreapp2.0
/src/Tests/UnitTests/bin/Debug/netcoreapp2.0
/src/MongoDbProvider/obj
/src/Tests/UnitTests/obj/Debug/netcoreapp2.0
/src/Declarations/obj/Debug/netcoreapp2.0
/src/Declarations/obj
/src/Declarations/bin/Debug/netcoreapp2.0
/src/Tests/UnitTests/obj
/src/MongoBannersContext/obj
/src/MongoBannersContext/bin/Debug/netcoreapp2.0
/src/BannersRepository/obj/Debug/netcoreapp2.0
/src/BannersRepository/obj
/src/Tests/XUnitTests/bin/Debug/netcoreapp2.0
/src/Tests/XUnitTests/obj/Debug/netcoreapp2.0
/src/Tests/XUnitTests/obj
/src/BannersRepository/bin/Debug/netcoreapp2.0
/src/Common/bin/Debug/netcoreapp2.1
/src/Common/obj/Debug/netcoreapp2.1
/src/Tests/XUnitTests/bin/Debug/netcoreapp2.1
/src/Common/obj
/src/BannerWebApp/bin/Debug/netcoreapp2.1
/src/BannerWebApp/logs
/src/Tests/LoadTesting/obj/Debug/netcoreapp2.1
/src/Tests/LoadTesting/obj
